.card {
    background: oklch(97.699% 0.00408 285.923);
    text-align: center;
    height: 250px;
    width: 250px;
    /* line-height: 12; */
    border: 2px dashed #333;
    border-radius: 6px;
}
#box-a {
    width: 200px;
    height: 200px;
    background: lightseagreen;
}
#box-b {
    width: 200px;
    height: 200px;
    background: rgb(66, 222, 214);
    padding: 10px;
}
#box-c {
    width: 200px;
    height: 200px;
    background: rgb(128, 244, 238);
    padding: 10px;
    border: 3px solid #333;
}
#box-d {
    width: 200px;
    height: 200px;
    background: rgb(165, 250, 246);
    padding: 10px;
    border: 3px solid #333;
    margin: 20px;
}
#box-e {
    width: 200px;
    height: 200px;
    background: green;
    position: static;
}
#box-f {
    width: 200px;
    height: 200px;
    background: rgb(16, 204, 16);
    position: relative;
    top: 10px;
    left: 20px;
    /* right: 10px; */
}
#box-g {
    width: 200px;
    height: 200px;
    background: rgb(65, 245, 65);
    position: absolute;
    bottom: 8px;
    right: 5px;
}
#box-h {
    width: 200px;
    height: 200px;
    background: rgb(123, 249, 123);
    position: absolute;
    top: 20px;
    right: 5px;
}
