.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
}

h1 { 
    color: rgb(86, 57, 250);
    font-size: 40px;
    font-family: "fontsaya";
}
h2 {
    font-weight: lighter;
    font-family: "BBH Sans Hegarty", sans-serif;
}
.paragraph {
    width: 40%;
    background-color: aqua;
}
@font-face {
    font-family: "fontsaya";
    src: url(fontsaya.ttf) format(truetype);
}
.paragraph p {
    text-align: center;
    text-transform: lowercase;
    line-height: 1.5;
    letter-spacing: 4px;
}
.gabut {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
}
.gabut p {
    font-family: "fontsaya";
    text-align: center;
    text-transform: lowercase;
    line-height: 1.5;
    letter-spacing: 4px;
}